html
{
	scroll-behavior: smooth;
	overflow-x: hidden; 
}
::-webkit-scrollbar
{
	width: 10px;
}
::-webkit-scrollbar-thumb
{
	background: linear-gradient(#000,#30ff00);
	border-radius: 6px;
}
body
{
	margin: 0;
	padding: 0;
}

/*======================Spider_Animation=============================*/

.spider
{
	position: fixed;
	top: 0;
	left: 30%;
	z-index: 999999;
	animation: up-down 1s ease infinite alternate;
}

@keyframes up-down
{
	from 
	{
		transform: translateY(0);
	}
	to 
	{
		transform: translateY(30px);
	}
}
.spider .web
{
	position: relative;
	top: -100px;
	left: 10px;
	width: 5px;
	height: 300px;
	background: #000;
}
.spider .body
{
	position: absolute;
	left: -30px;
	top: 190px;
	width: 80px;
	height: 60px;
	background: #000;
	border-radius: 50%;
}
.spider .body .left_eye
{
	position: relative;
	top: 30px;
	left: 15px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}
.spider .body .left_eye:before
{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 50%;
	top: 7px;
	left: 8px;
	animation: left-eye 1s ease infinite alternate;
}
@keyframes left-eye
{
	0% 
	{
		transform: translate(0,0);
	}
	50% 
	{
		transform: translate(3px,1px);
	}
	100% 
	{
		transform: translate(1px,3px);
	}
}
.spider .body .right_eye
{
	position: relative;
	top: 10px;
	left: 45px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}
.spider .body .right_eye:before
{
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: #000;
	border-radius: 50%;
	top: 7px;
	left: 8px;
	animation: right-eye 1s ease infinite alternate;
}
@keyframes right-eye
{
	0% 
	{
		transform: translate(0,0);
	}
	50% 
	{
		transform: translate(3px,1px);
	}
	100% 
	{
		transform: translate(1px,3px);
	}
}
.spider .body .left_leg_1
{
	position: relative;
	top: -30px;
	left: -30px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(10deg);
	border-radius: 10px;
}
.spider .body .left_leg_1:before
{
	content: '';
	position: absolute;
	left: -30px;
	top: 13px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(-50deg);
	border-radius: 10px;
	animation: left-leg-1 1s ease infinite alternate;
}
@keyframes left-leg-1
{
	0%
	{
		transform: rotate(-50deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}
.spider .body .left_leg_2
{
	position: relative;
	top: -25px;
	left: -30px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(10deg);
	border-radius: 10px;
}
.spider .body .left_leg_2:before
{
	content: '';
	position: absolute;
	left: -30px;
	top: 13px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(-50deg);
	border-radius: 10px;
	animation: left-leg-2 1s ease infinite alternate;
}
@keyframes left-leg-2
{
	0%
	{
		transform: rotate(-50deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}
.spider .body .left_leg_3
{
	position: relative;
	top: -15px;
	left: -30px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(10deg);
	border-radius: 10px;
}
.spider .body .left_leg_3:before
{
	content: '';
	position: absolute;
	left: -30px;
	top: 13px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(-50deg);
	border-radius: 10px;
	animation: left-leg-3 1s ease infinite alternate;
}
@keyframes left-leg-3
{
	0%
	{
		transform: rotate(-50deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}
.spider .body .right_leg_1
{
	position: relative;
	top: -37px;
	left: 100px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(45deg);
	border-radius: 10px;
}
.spider .body .right_leg_1:before
{
	content: '';
	position: absolute;
	left: -30px;
	top: 13px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(-50deg);
	border-radius: 10px;
	animation: right-leg-1 1s ease infinite alternate;
}
@keyframes right-leg-1
{
	0%
	{
		transform: rotate(-50deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}
.spider .body .right_leg_2
{
	position: relative;
	top: -30px;
	left: 100px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(45deg);
	border-radius: 10px;
}
.spider .body .right_leg_2:before
{
	content: '';
	position: absolute;
	left: -30px;
	top: 13px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(-50deg);
	border-radius: 10px;
	animation: right-leg-2 1s ease infinite alternate;
}
@keyframes right-leg-2
{
	0%
	{
		transform: rotate(-50deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}
.spider .body .right_leg_3
{
	position: relative;
	top: -25px;
	left: 100px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(45deg);
	border-radius: 10px;
}
.spider .body .right_leg_3:before
{
	content: '';
	position: absolute;
	left: -30px;
	top: 13px;
	width: 40px;
	height: 7px;
	background: #000;
	transform: rotate(-50deg);
	border-radius: 10px;
	animation: right-leg-2 1s ease infinite alternate;
}
@keyframes right-leg-3
{
	0%
	{
		transform: rotate(-50deg);
	}
	100%
	{
		transform: rotate(-60deg);
	}
}

/*_________________________________________________Spider_End_______________________________________________*/
/*==============Header==============*/
#header
{
	position: fixed;
	top: 0;
	right: -350px;
	margin: 0;
	padding: 25px;
	width: 300px;
	height: 100vh;
	background: #000;
	align-content: center;
	text-align: center;
	align-items: center;
	transition: 1s ease;
	z-index: 9999;
}
#header:before
{
	content: 'Menu';
	position: absolute;
	left: -130px;
	top: 50vh;
	width: 200px;
	height: 70px;
	background:orange;
	border-radius: 10px;
	font-size: 2.5em;
	font-family: Jokerman;
	transform: rotate(-90deg);
}
#header:hover
{
	right: 0;
}
#header ul
{
	margin: 0;
	padding: 0;
}
#header ul li
{
	list-style: none;
	line-height: 50px;
}
#header ul li a
{
	text-decoration: none;
	font-size: 2em;
	color: #fff;
	text-transform: uppercase;
	font-family: Copperplate Gothic;
	transition: .2s ease;
}
#header ul li a:hover
{
	color: orange;
	letter-spacing: 5px;
}
#header ul h2
{
	color: #fff;
	font-size: 3em;
	font-family: Trebuchet MS;
	cursor: pointer
}
#header ul h2:hover .e_rotate
{
	transform: rotate(0deg);
}
#header ul h2 .e_rotate
{
	color: orange;
	transform: rotate(-50deg);
	display: inline-block;
	transition: .2s ease;
}
.welcome
{
	position: absolute;
	top: 50%;
	left: 0;
	margin: 0;
	padding: 0;
}
.welcome h1
{
	margin: 0;
	padding: 0;
	color: orange;
	transform: rotate(-90deg);
}
/*___________________________Pages(sections)_________________________________*/
#main section
{
	width: 100%;	height: 100vh;
}
#main section:nth-child(odd)
{
	background: url(images/Dark_room_with_chair.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
#main section:nth-child(even)
{
	background: url(images/dark-fairy-tale-fantasy-42263.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
/*----------------------Fast_scroll---------------------*/
.fast_scroll
{
	position: fixed;
	width: 100px;
	height: 75px;
	background: orange;
	bottom: 0;
	right: 0;
	text-align: center;
	z-index: 999;
	overflow: hidden;
	border-radius: 5px;
}
.fast_scroll h1
{
	margin: 0;
	padding: 0;
}
.fast_scroll h1 a
{
	text-decoration: none;
	font-family: Copperplate Gothic;
	font-size: .6em;
	display: block;
	padding: 7.5px;
}
.fast_scroll .top
{
	background: #fff;
	top: 0;
}
.fast_scroll .top h1 a
{
	color: #000;
	transition: .2s;
}
.fast_scroll .bottom
{
	background: #000;
	bottom: 0;
}
.fast_scroll .bottom h1 a
{
	color: #fff;
	transition: .2s;
}
.fast_scroll .top h1 a:hover
{
	background: orange;
}
.fast_scroll .bottom h1 a:hover
{
	background: orange;
	color: #000;
}